<template name="layout">
    <header class="primary">
      <div class="container">
        <div class="row">
          <nav class="navbar navbar-default col-lg-12" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Loop Pulse</a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="primary-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  {{> login_box}}
                </ul>
              </div><!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
      {{> yield}}
      </div>
    </main>

    <footer class="primary">
      <div class="container">
        <p class="copyright">Looppulse by Clione Labs</p>
      </div>
    </footer>
</template>