<template name="layout">
  <div class="wrapper {{#if dryLayout}}dry{{/if}}">
    <header class="primary">
      <div class="container">
        <div class="row">
          <nav class="primary-navbar navbar navbar-default " role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="sr-only">Loop Pulse</span></a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="primary-navbar-collapse">
                {{#if currentUser }}
                <ul class="nav navbar-nav">
                  <li class="{{ isActivePath 'dashboard' }}"><a href="{{ pathFor 'dashboard_home' locationId=this._id }}">dashboard</a></li>
                  <li class="{{ isActivePath 'segmentation' }}"><a href="{{ pathFor 'dashboard_segmentation' locationId=this._id }}">segmentation</a></li>
                  <li class="{{ isActivePath 'engagement' }}"><a href="{{ pathFor 'dashboard_engagement' locationId=this._id }}">engagement</a></li>
                </ul>
                {{/if}}
                <ul class="nav navbar-nav navbar-right">
                  {{> login_box}}
                </ul>
              </div><!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>
    </header>
    {{#if currentUser }}
    <nav class="secondary-navbar navbar navbar-default"  role="navigation">
      <div class="container">
          <div class="row navbar-wrapper">

              <div class="title page-title">
              {{#if companyName}}
                <h1>{{companyName}}</h1>
              {{else}}
                <h1>Loop Pulse</h1>
              {{/if}}
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown locations-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="dropdown-label">
                      {{currentLabel}}
                    </span>
                    <span class="caret"></span>
                  </a>
                  {{! locations menu }}
                  <ul class="dropdown-menu" role="menu">
                    {{#each menus}}
                      <li class=""><a href="{{href}}">{{label}}</a></li>
                    {{/each}}
                  </ul>
                </li>
              </ul>
          </div>
        </div>
    </nav>
    {{/if}}
    <main>
      {{!if not useContainer}}
      {{#if useContainer}}
        <div class="container page-wrapper">
        {{> yield}}
        </div>
      {{else}}
        {{#if dryLayout}}
          <div class="dry-container">
          {{> yield}}
          </div>
        {{else}}
          <div class="container default-wrapper">
          {{>yield}}
          </div>
        {{/if}}
      {{/if}}
    </main>

  </div>
  <footer class="primary">
    <div class="container">
      <p class="copyright">Looppulse by Clione Labs</p>
    </div>
  </footer>
</template>
