<template name="location">
<article class="report"> 
    <header>
       <h2>{{ company.name }} @ {{name}}</h2>
    </header>


    <div class="summary">
        <div class="row">
            <div class="col-sm-4 stat-box">
                <h4>Missed Opportunites</h4>
                <span class="number">5,730</span>
            </div>
            <div class="col-sm-4 stat-box">
                <h4>Today Visits</h4>
                <span class="number">7,104</span>
            </div>
            <div class="col-sm-4 stat-box">
                <h4>Conversion</h4>
                <span class="number">19.34%</span><!--  {{! visit - missed / visit}} -->
            </div>
        </div>
    </div>

    <div class="report-content">
        <h3>Conversion by Zone</h3>
        <div class="zone-report row">
            
            {{#each products }}
                {{> product }}
            {{/each}}


        </div>
    </div>

</article>

</template>
