<template name="location">
<article class="report">
    <header>
       <h2>{{ company.name }} @ {{name}}</h2>
    </header>
    {{! FIXME this example usage should be replaced }}
    <b> 
    {{#each productMetrics}}
      productId: {{productId}}<br/>
      Start Time: {{startTime}}<br/>
      End Time: {{endTime}}<br/>
      Total DwellTime: {{dwellTime}} <br/>
      Total Visitors:  {{getVisitorsCount}} <br/>
    {{/each}}
    </b>

    {{! FIXME this example usage should be replaced }}
    {{#each engagementMetrics}}
      {{sentMessageCount}} ->  {{viewedMessageCount}} -> {{visitedCount}}  ({{conversionRates.sendMessageToVisited}}%)
    {{/each}}

    {{> uploader settings=forProfilePic}}

    <div class="summary">
        <div class="row">
            <div class="col-sm-6 map-wrapper">
                {{> beacons_map beacons=beacons }}
            </div>

            {{#with metric }}
            <div class="col-sm-6 stat-box-wrapper">
                <div class="stat-box row">
                    <h4 class="col-xs-7">Missed Opportunites</h4>
                    <span class="number col-xs-5">{{ missedOpportunities  }}</span>
                </div>
                <div class="stat-box row">
                    <h4 class="col-xs-7">Today Visits</h4>
                    <span class="number col-xs-5">{{ entranceVisits }}</span>
                </div>
                <div class="stat-box row">
                    <h4 class="col-xs-7">Conversion</h4>
                    <span class="number col-xs-5">{{ invertedFraction missedOpportunities entranceVisits }}</span>
                </div>
            </div>
            {{/with}}
        </div>
    </div>

    <div class="report-content">
        <h3>Conversion by Zone</h3>
        <div class="zone-report row">

            {{#with summerizedProducts self=this products=products metric=metric funnels=funnels }}
                {{#each this.products}}
                    {{> product funnel=this.funnel product=this.product metric=../metric  }}
                {{/each}}
            {{/with}}


        </div>
    </div>

</article>

</template>
