<template name="location">
<article class="report">
    <header>
       <h2>{{ company.name }} @ {{name}}</h2>
    </header>


    <div class="summary">
        <div class="row">
            <div class="col-sm-6 map-wrapper">
                {{> beacons_map beacons=beacons }}
            </div>
            <div class="col-sm-6 stat-box-wrapper">
                <div class="stat-box row">
                    <h4 class="col-xs-7">Missed Opportunites</h4>
                    <span class="number col-xs-5">5,730</span>
                </div>
                <div class="stat-box row">
                    <h4 class="col-xs-7">Today Visits</h4>
                    <span class="number col-xs-5">7,104</span>
                </div>
                <div class="stat-box row">
                    <h4 class="col-xs-7">Conversion</h4>
                    <span class="number col-xs-5">19.34%</span><!--  {{! visit - missed / visit}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="report-content">
        <h3>Conversion by Zone</h3>
        <div class="zone-report row">

            {{#each products }}
                {{> product product=this location=.. }}
            {{/each}}


        </div>
    </div>

</article>

</template>
