<template name="companyHeader">
  <div class="row">
    <nav class="secondary-navbar navbar navbar-default" role="navigation">
      <div class="row navbar-wrapper">

        <div class="title page-title">
          <header class="company-name">{{ company.name }}</header>
        </div>
          {{#if hasMoreThanOneCompany }}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown locations-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="dropdown-label">{{ company.name }}</span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {{#each companies}}
                      <li class=""><a href="#">{{ company.name }}</a></li>
                    {{/each}}
                </ul>
              </li>
            </ul>
          {{/if}}
      </div>
    </nav>
  </div>
</template>
