@import "variable";
.charting {
  font-size:10px;
  line-height: 1;
  letter-spacing: normal;
}

.widget-panel {
  border: none;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12); //spread: 8px expand 0
  border-radius: 6px;
  background: #fff;
  margin-bottom: 0.5em;

  & .heading {
    background-color: $alt-light-color;
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      font-size: 1em;
      line-height: 1.1;
      font-weight: normal
    }
  }
  & .content , & .heading, & .heading th {
    padding: 0.8em 1em
  }
}


.card-panel {
  background-color: #F7FBFC;
  padding: 1em;
  .number {
    font-weight: bold;
    font-size: 36px;
  }
  .field {
    color: $primary-color
  }
  .duration {
    color: $alt-font-color;
  }
}

.highlights {
  margin-bottom: 1em;
}


// Specific Section
.campaign-list {
  tbody, tr.chart-row td, tbody > tr:first-child td {
    border-top: none;
  }
  .table > thead > tr > th {
    border-bottom: none;
  }
  .table > tbody > tr > td {
    padding: 0.8em 1em;
  }
  .data-row {
    .conversion {
      color: $primary-color;
    }
    .desc {
      color: $alt-font-color;
      font-size: 0.8em;
    }
  }
}

.charting .d4 {
  path {
    fill: none;
  }
  .series0 path {
        stroke: darkred;
    }

  .series1 path {
        stroke: darkslategrey;
    }

  .series2 path {
        stroke: steelblue;
    }
}