
body { font-size: 16px; }

main { font-size: 24px; }

h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1em;
    font-weight: normal;
}

.number {
    font-size: 2em;
    display: block;
}
$box-bg: #eee;
$box-border: #ccc;
header {
    h2 {
        text-align: center;
        padding: 1em;
        margin: 1em;
    }
}
.summary {
    text-align: center;
    margin: 1em 0 3em;
    .stat-box {
        border: 2px solid $box-border;
        background-color: $box-bg;
        padding: 0.2em 0 0.8em;
    }
}
.zone-report{
    font-size: 24px;
    text-align: center;
    h4 {
        margin: 1.2em 0 1em;
    }
    .number-box, .number-box-division {
        margin: 0 1.5em;
    }
    .number-box {
        background-color: $box-bg;
        border:2px solid $box-border;
        padding-bottom: 0.4em;
        .unit {
            margin-top: -0.4em;
            display: block;
        }
    }
    .number-box-division {
        text-align: right;
        padding: 1em 0;
        &:before, &:after {
            content: "";
            display: inline-block;
        }
        &:before {
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 3em solid $box-bg;
            border-bottom: 0;
            margin-top: -1.1em;
            position: absolute;
            left: calc(50% - 30px);
            z-index: 100;
        }
        &:after {
            border-left: 32px solid transparent;
            border-right: 32px solid transparent;
            border-top: 3.2em solid $box-border;
            border-bottom: 0;
            margin-top: -1em;
            position: absolute;
            left: calc(50% - 32px);
        }
    }
    .number-box-conculsion {
        margin-top: 1em;
        .number {
            font-weight:bold
        }
    }
}

// Map and Pulse
@-ms-keyframes pulse {
  0%   { -ms-transform: scale(0);   opacity: 0; }
  8%   { -ms-transform: scale(0);   opacity: 0; }
  15%  { -ms-transform: scale(0.1); opacity: 1; }
  30%  { -ms-transform: scale(0.5); opacity: 1; }
  100% { -ms-transform: scale(1);   opacity: 0; }
}
@-webkit-keyframes pulse {
  0%   { -webkit-transform: scale(0);   opacity: 0; }
  8%   { -webkit-transform: scale(0);   opacity: 0; }
  15%  { -webkit-transform: scale(0.1); opacity: 1; }
  30%  { -webkit-transform: scale(0.5); opacity: 1; }
  100% { -webkit-transform: scale(1);   opacity: 0; }
}
@-moz-keyframes pulse {
  0%   { transform: scale(0);   opacity: 0; }
  8%   { transform: scale(0);   opacity: 0; }
  15%  { transform: scale(0.1); opacity: 1; }
  30%  { transform: scale(0.5); opacity: 1; }
  100% { transform: scale(1);   opacity: 0; }
}

@-keyframes pulse {
  0%   { transform: scale(0);   opacity: 0; }
  8%   { transform: scale(0);   opacity: 0; }
  15%  { transform: scale(0.1); opacity: 1; }
  30%  { transform: scale(0.5); opacity: 1; }
  100% { transform: scale(1);   opacity: 0; }
}

$beacon_color: #33cccc;
$becon_size: 16px;
$beacon_pulse_size: 64px;
$beacon_pulse_offset: ($beacon_pulse_size - $becon_size)/2;

.beacon-map {
    position:relative;
    border:1px solid #ccc;
    height:425px;
}
.beacon-marker {
    display: block;
    position: absolute;

    .pulse {
        width: $becon_size;
        height: $becon_size;
        background: $beacon_color;
        border-radius: $becon_size;
        display: block;
        position: relative;
        &:before {
            content: "";
            margin: 0 auto;
            position: absolute;
            right: -($beacon_pulse_offset);
            top: -($beacon_pulse_offset);
            z-index: 100;
            opacity: 0.1;
            width: $beacon_pulse_size;
            height: $beacon_pulse_size;
            border-radius: $beacon_pulse_size;
            border: 2px solid $beacon_color;
            opacity: 0;
        }
        &.on:before {
            -ms-animation: pulse 1s linear infinite;
            -moz-animation: pulse 1s linear infinite;
            -webkit-animation: pulse 1s linear infinite;
            animation: pulse 1s linear infinite;
            border-image: initial;
        }
        &.slow:before {
            -ms-animation-duration: 3s;
            -moz-animation-duration: 3s;
            -webkit-animation-duration: 3s;
            animation-duration: 3s;
        }
        &.fast:before {
            -ms-animation-duration: 500ms;
            -moz-animation-duration: 500ms;
            -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
        }
        &.blink:before {
            -ms-animation-duration: 200ms;
            -moz-animation-duration: 200ms;
            -webkit-animation-duration: 200ms;
            animation-duration: 200ms;
        }
    }

}