// All CSS variable should go here
$primary-color: #00BCD4; //header, hyperlink, etc
$primary-color-2: #3DCBCB;
$alt-light-color:#F5F8F9; //secondary navbar, panel/widget title
$alt-dark-color: #494D59; //footer

$font-color: #9B9B9B;
$alt-font-color: #B6B6B6;
$alt-font-color-2: #DADADA;

$link-color: $primary-color;
