// All CSS variable should go here
$primary-color: #00BCD4; //header, hyperlink, etc
$primary-color-2: #3DCBCB;
$alt-light-color:#F6F8FB; //secondary navbar, panel/widget title
$alt-dark-color: #494D59; //footer
$font-color: #9B9B9B;
$alt-font-color: #DADADA;

$link-color: $primary-color;