<!--
     Extensible Generic Collection Management Template for Collection CRUD
     Naming： Action+_+View/Tab/List ...Most of the time should be "View"
     Controller Action+View+Controller
-->
<template name="show_view">
{{> yield region="show-view-header"}}
<table class="table table-striped">
  {{#if cursor}}
    <thead>
      <tr>
        {{#if hasRowPrepend}}
          <th>{{hasRowPrepend}}</th>
        {{/if}}
        {{#if fields }}
          {{#each fields}}
            <th>{{this}}</th>
          {{/each}}
        {{else}}
          <th>_id</th>
        {{/if}}

        {{#if hasRowAppend}}
          <th>{{hasRowAppend}}</th>
        {{/if}}
      </tr>
    </thead>
  {{/if}}



  {{#if cursor}}
    <tbody>
    {{#each cursor}}
      <tr data-id="{{_id}}">


        {{#if ../hasRowPrepend}}
        <td>{{> yield region="show-row-prepend" }}</td>
        {{/if}}
        {{#if ../fields }}
          {{#each ../fields }}
            <td>{{get obj=.. prop=this}}</td>
          {{/each}}
        {{else}}
          <td>{{_id}}</td>
        {{/if}}


        {{#if ../hasRowAppend}}
        <td>{{> yield region="show-row-append" }}</td>
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  {{/if}}
</table>
{{> yield region="show-view-footer"}}
</template>