<template name="admin_assign_user">



    <div class="form-group">
            <div class="col-sm-2">
              <label class="control-label">admin</label>
            </div>
            <div class="col-sm-10">
              {{> admin_user_input }}
            </div>
    </div>
</template>

<template name="admin_user_input">
    {{> inputAutocomplete settings=settings id="admin-email" class="form-control" placeholder="enter admin user email" }}
</template>

<template name="userPill">
    <span class="item">{{emails.[0].address}}</span>
</template>