//Basic CSS after bootstrap style
@import "variable";


// Override
.navbar-default {
  background-color:transparent;
  border: none;
  border-radius: 0;
  .navbar-nav {
    & > li > a {
      padding: 0.5em;
    }

    & > .active > a,
    & > .active > a:hover,
    & > .active > a:focus {
      color: #fff;
      background-color: transparent;
    }
  }
}
.page-header {
  margin: 0 0 1em;
  // padding-bottom:
}

table.table {
  th { font-weight: normal }
}

form label {
  font-weight: 500;
}

// Base CSS
// Sticky footer 2013
html, body {
  height: 100%; //they will stretch with page content
}
.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -60px;
}
.wrapper {
  background-color: $background-color;
  &.dry {
    background-color: $content-background-color;
    .inverted-layer {
      background-color: $background-color;
    }
  }

  &:after {
    content: "";
  }
}

footer.primary {
  height: 40px;
  width:100%;
  display: block;
  position:fixed;
  bottom:0;
  left:0;
  background-color: $alt-dark-color;
  color: #fff;
  padding:0 10px;
  line-height:25px;
}

.copyright {
  margin:7px 0px;
  display:inline-block;
  font-size: 0.6em;
}


// Our content

// @@NOTE: avoid setting CSS in body as body doesn't accept any attribute - set in `.wrapper` instead
body {
  color: #9B9B9B;
  // retina: 34px/40px (34/1.1764)
  // half: 17px/1.18
  // easy going: 16px/1.25
  // vision correction: 18px/1.2
  font: normal #{$base-font-size}/#{$base-line-height} $base-font-family;
}

#content {
  margin-bottom:50px;
}


main {
    line-height: 1.4;
    & > .container, .page-wrapper, .wrapped-content {
      padding: 20px 0;
    }
    & > .default-wrapper {
      background: #fff;
      padding: 20px;
      margin: 20px auto;
    }
}

// Default Style
.default-wrapper {
  h1, h2, h3, h4, h5 {
    margin: 0.2em 0;
  }
  h1 {
    font-size: 1.4em;
  }
  h2 {
    font-size: 1.2em;
    font-weight: 600;
  }
  h3 {
    font-size: 1.1em;
    font-weight: 500;
  }
  h4, h5, h6 {
    font-size: 1em;
    font-weight: 300;
  }
}

// Utility
// Rowless container for padding alignment
.no-col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
// Default Layout Container


// Chart base CSS
svg.d4 {
}

.d4 {

  .brush .extent {
      fill : rgba(0,0,0,0.2);
  }

  .tick text {
      font-size: 9px;
      fill: #999;
      // shape-rendering: crispEdges;
  }

  .axis {
    .domain, .tick line {
      fill: none;
      stroke: #999;
      stroke-width: 1px;
      // shape-rendering: crispEdges;
    }
  }

  .line,
   path,
   .connectors line {
      fill: none;
      stroke: #222;
      stroke-width: 1px;
  }

  .zeroLine line {
      stroke-width:1px;
      stroke: #555;
  }

  .bars {
    .bar {
      fill: #ccc;
    }
  }
}

// Layout CSS

$navbar-padding: 10px;
$navbar-logo-width: 64px - $navbar-padding;
header#primary {
  padding:0 15px;

  .navbar-toggle {
    span.icon-bar {
      background-color: $font-color;
    }
  }

  background-color: $primary-color;
  color: #fff;
  .page-title {
    text-align: center;
    position:absolute;
    width: 100%;
    margin-left: -($navbar-logo-width/2);
    h1 {
      font-size: 1em;
      margin: 0 0 0.3em;

    }
    h2 {
      font-size: 0.8em;
      margin: 0;
      font-weight: normal;
    }
  }

  color: #fafafa;
  .active a {
    color: rgba(0,0,0,0.74);

  }
  a {
    color: #fafafa;
  }
  .dropdown-menu a {
    color: $alt-dark-color;
  }

  .navbar-right {
    
    li > a {
      // margin-top: 20px;
      font-size: 0.8em;
    }
  }

  .navbar-brand {
    background: url(/images/logo_sm.png) left center no-repeat;
    background-size: contain;
    width:25px;
    height:25px;
    margin-top:7px;
    max-height: 40px;

  }

}

.secondary-navbar {
  margin-bottom: 0;
  .navbar-wrapper {
    padding-left: 10px;
    padding-right: 22px;
  }
  .page-title ,
  .navbar-nav {
    display: inline-block;
  }
  h1, h2, h3, h4, h5 {
    display: inline-block;
    font-size: 1em;
    margin: 0.5em 0;
    line-height: 1.6;
  }
  h1 {
    font-size: 1.2em;
  }
  li.dropdown > a {
    padding: { top: 1em; bottom: 1em };
    font-size: 1em;
  }
}

.page-content {
  background-color: #fff;
  & > header {
    background-color: $background-color;
    padding-bottom: 1em;
    h1, h2, h3, h4,h5, .actions {
      display:inline-block;
    }
    .heading .actions {
      margin-top: 1em;
    }
  }

}

.page-header {
  font-size: 1.1em;
  margin: 0 0 1em;
}
// Form
.form-label {
  border: 1px solid #ccc;
  font-weight: 500;
  padding:0.2em 0.5em;
}
.inline-input-group {
  display: inline-block;
  vertical-align: middle;
}

$state-success-text:  #3c763d;
$state-success-bg:    #dff0d8;

$state-info-text:     #31708f;
$state-info-bg:       #d9edf7;

$state-warning-text:  #8a6d3b;
$state-warning-bg:    #fcf8e3;

$state-danger-text:   #a94442;
$state-danger-bg:     #f2dede;

//Notifications
ul.notifications {
  z-index: 10001 !important;
  top: 0;
  right: 0;
  left:0;
  width: 100%;
  li.notification {
    margin: 0;
    border-radius: 0;
    padding: 0.9em;
    text-align: center;
    .title, .message {
      display: inline-block;
      vertical-align: baseline;
    }
    .message {
      text-decoration: underline
    }
    .closeButton {
      top: 25%;
    }

    &.success {
      background-color: $state-success-bg;
      color: $state-success-text
    }
    &.error {
      background-color: $state-danger-bg;
      color: $state-danger-text;
    }
    &.warn {
      background-color: $state-warning-bg;
      color: $state-warning-text;
    }
    &.info {
      background-color: $state-info-bg;
      color: $state-info-text;
    }
  }
}
