// All CSS variable should go here
$primary-color: #607D8B; //header, hyperlink, etc
$primary-color-2: #3DCBCB;
$primary-color-compliment: #FF6779;

$alt-light-color:#F5F8F9; //secondary navbar, panel/widget title
$alt-dark-color: #494D59; //footer

$background-color: #EBEDF0;
$content-background-color: #FFF;
$secondary-header-bg-color: #FAFAFA;
$border-color: rgba(0,0,0,0.12);

$font-color: #9B9B9B;
$alt-font-color: #B6B6B6;
$alt-font-color-2: #DADADA;
$alt-font-color-3: rgba(0,0,0,0.26);

$link-color: $primary-color;

$btn-color: #FFC400;

$non-active-tab-bg-color:rgba(236,239,241,0.22);
$active-tab-bg-color:rgba(255,255,255,1);

$minus-color:rgba(255,103,121,1);

$base-font-size: 18px;
$base-line-height: 1.2;
$base-font-family: 'Roboto', sans-serif;
