<template name="segmentShowCriteriaDialog">
<div class="modal fade" id="showInfoModal" tabindex="-1" role="dialog" aria-labelledby="Segment Criteria" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Segment Criteria</h4>
      </div>
      <div class="modal-body">
        <h3 id="criteria"></h3>
      </div>
    </div>
  </div>
</div>
</template>
