<template name="segmentDetail">
{{> companyHeader }}

  <header class="segment-view segment-header view-header">
    <div class="container">
      <h1>{{ name }}</h1>
      <div class="functions">
        <button class="btn btn-info" id="showInfo" alt="info" data-toggle="modal" data-target="#showInfoModal"></button>
          <button class="btn btn-export" id="showExport" alt="export"></button>
          {{# if isDeletable}}
            <button class="btn btn-delete" id="showDelete" alt="delete"></button>
          {{/if}}
      </div>
    </div>
  </header>
  <section class="view-content segment-detail">
    <div class="container">
      <div class="tabs-nav">
          <ul class="metric-tabs nav nav-justified" role="tablist">
            <li class="active">
            <a href="#visitor-metrics" role="tab" data-toggle="tab">
              <div class="tab-content">
                <div class="row">
                  <div class="pull-left number">{{ graphListData.numberOfVisitors }}</div>
                </div>
                <div class="row">
                  <div class="pull-left type">Visitors</div>
                </div>
              </div>
            </a>
            </li>
            <li class="separator"></li>
            <li>
            <a href="#dwell-time-metrics" role="tab"
              data-toggle="tab">

              <div class="tab-content">
                <div class="row">
                  <div class="pull-left number">{{ formatDurationToMin graphListData.averageDwellTime }}</div>
                </div>
                <div class="row">
                  <div class="pull-left type">Dwell Time</div>
                </div>
              </div>
            </a>
            </li>
            <li class="separator"></li>
            <li>
            <a href="#repeated-visits-metrics" role="tab"
              data-toggle="tab">
              <div class="tab-content">
                <div class="row">
                  <div class="pull-left number">{{ formatPercent graphListData.repeatedVisitorPercentage }}</div>

                </div>
                <div class="row">
                  <div class="pull-left type">Repeated Visits</div>
                </div>
              </div>
            </a>
            </li>
          </ul>

      </div>
    <div class="tab-content">
        <div class="tab-pane active" id="visitor-metrics">
                <div class="graph-container">
                    <h3 class="graph-name">Total Number of Visitors</h3>
                    <div class="graph-content" id="graphVisitorsXDates"></div>
                </div>
                {{> twoColsBarChart graphOtherSegmentsData}}
                {{> twoColsBarChart graphTopLocationsVisitorsData}}
        </div>
        <div class="tab-pane" id="dwell-time-metrics">
              <div class="graph-container">
                  <h3 class="graph-name">Average Dwell Time</h3>
                  <div class="graph-content" id="graphVisitorsXDwell">
                  </div>
              </div>
              <div class="graph-container box">
                  <div class="graph-header">Dwell Time Distribution</div>
                  <div class="punchcard" id="graphDistributionDwellEnter">

                  </div>
              </div>
              {{> twoColsBarChart graphTopLocationsDwellData}}
        </div>
        <div class="tab-pane" id="repeated-visits-metrics">

                <div class="graph-container">
                    <h3 class="graph-name">Total Number of Visits</h3>
                    <div class="graph-content" id="graphVisitorsXVisits"></div>
                </div>

                <div class="graph-container box">
                    <div class="graph-header">
                        Entry and Exit Distribution
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#graphDistributionVisitsEnter" role="tab" data-toggle="tab">Entry Count</a></li>
                            <li><a href="#graphDistributionVisitsExit" role="tab" data-toggle="tab">Exit Count</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                      <div class="tab-pane active" role="tabpanel">
                        <div id="graphDistributionVisitsEnter" class="punchcard graph-content"></div>
                      </div>
                      <div class="tab-pane" role="tabpanel">
                        <div id="graphDistributionVisitsExit" class="punchcard graph-content"></div>
                      </div>
                    </div>
                </div>
                {{> twoColsBarChart graphTopLocationsVisitsData}}
        </div>

      </div>
    </div>
  </section>



  {{> segmentInfoDialog }}
</template>

<template name="twoColsBarChart">
  <div class="graph-container box">
      <div class="graph-header">
        <table>
            {{#with header}}
            <tr><td width="30%">{{col1}}</td><td width="70%">{{col2}}</td></tr>
            {{/with}}
          </table>
      </div>
      <table id="other-segment-detail">
        {{ #each items}}
          <tr>
              <td width="30%">{{ col1 }}</td>
              <td width="10%">{{ col2 }}</td>
              <td width="60%"><div class="bar" style="width: {{ barWidth }}">&nbsp;</div></td></tr>
        {{ /each }}
      </table>
  </div>
</template>
