{
  "DEBUG": {
    "resetLocal": false,
    "logVisitorToFirebase": false,
    "deliveringMessagesFirebaseURL": "https://<YOUR_APP>.firebaseio.com/delivering_messages"
  },

  "aws": {
    "accessKeyId": "",
    "secretAccessKey": "",
    "s3bucket": ""
  },
  "firebase": {
      "root": "",
      "config": ""
  },
  "parse": {
    "applicationId": "",
    "restKey": ""
  },
  "removeFromFirebase": false,
  "accounts": {
    "forbidClientAccountCreation": true,
    "admin" :{
      "login": "hello@looppulse.com",
      "passphrase": null,
      "showInfoAfterCreation": false,
      "mailInfoAfterCreation": true
    }
  },
  "public": {
    "DEBUG": true,
    "testId": "rSZ6gszkurBQzfpai",
    "view": {
      "beaconsMap": {
        "limit": 50,
        "forwardBufferInSec": 5
      }
    }
  },
  "performance": {
  }
}
