<!--
  Collection creation template
  See collection_show_view.html
 -->
<template name="collection_create_view">
{{! prefix: collection-create }}
{{> yield region="view-header" }}
<div class="row">
  <h2 class="page-header">{{title}}</h2>
  <form class="collection-create-form collection-processing-form form-horizontal col-md-6" role="form" data-collection="{{collectionName}}">
    {{#if ../fields }}
      {{#each ../fields }}
        <div class="form-group">
            <div class="col-xs-2">
              <label class="control-label">{{this}}</label>
            </div>
            <div class="col-xs-10">
              <input data-field-name="{{this}}" class="form-control" name="{{collectionName}}.{{this}}" value="" placeholder="">
            </div>
        </div>
      {{/each}}
    {{/if}}
    {{> yield region="form-extension" }}
    <button class="collection-create-btn action-btn btn btn-primary" >New</button>
  </form>
</div>
{{> yield region="view-footer" }}
</template>