<!--
     Extensible Generic Collection Management Template for Collection CRUD
     Naming： {{Type}}_{{Action}}_{{View}}
     Controller {{Type}}{{Action}}{{View}}Controller
      Type: Collection/Specific Class
      Action: Create/Show/Delete/Update
      View: View/Tab/List/Page, Most of the time should be "View"
-->
<template name="collection_show_view">
{{! prefix: collection-show }}
{{> yield region="view-header" }}
<table class="collection-show-table table table-striped">
  {{#if cursor}}
    <thead>
      <tr>
        {{#if hasRowPrepend}}
          <th>{{hasRowPrepend}}</th>
        {{/if}}
        {{#if fields }}
          {{#each fields}}
            <th>{{this}}</th>
          {{/each}}
        {{else}}
          <th>_id</th>
        {{/if}}

        {{#if hasRowAppend}}
          <th>{{hasRowAppend}}</th>
        {{/if}}
      </tr>
    </thead>
  {{/if}}



  {{#if cursor}}
    <tbody>
    {{#each cursor}}
      <tr data-id="{{_id}}">


        {{#if ../hasRowPrepend}}
        <td>{{> yield region="row-prepend" }}</td>
        {{/if}}
        {{#if ../fields }}
          {{#each ../fields }}
            <td>{{obtain .. this}}</td>
          {{/each}}
        {{else}}
          <td>{{_id}}</td>
        {{/if}}


        {{#if ../hasRowAppend}}
        <td>{{> yield region="row-append" }}</td>
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  {{/if}}
</table>
{{> yield region="view-footer" }}
</template>