<!-- Shared Component -->
<template name="dashboard_campaign_list">
  <div class="campaign-list widget-panel">
    <table class="table">
      <thead class="heading">
        <tr class="row" >
          <th class="col-sm-7">{{context}}</th>
          {{#each fields}}
          <th class="col-sm-7">{{this}}</th>
          {{/each}}
        </tr>
      </thead>

      <tbody class="content">
      {{#each campaigns}}
        {{#with _id=_id name=name sent=sent visited=visited conversion=conversion desc=desc stat=getStat m=getMetrics traceOffset=traceOffset}}
        <tr class="row campaign-summary data-row" data-id="{{_id}}">

          <td class="name entity col-sm-6">{{name}}</td>
          {{#each fields}}
            <td class="{{this}} col-sm-2">{{obtain .. this}}</td>
          {{/each}}


<!--
          <td class="name entity col-sm-7">{{name}}</td>
          <td class="sent value col-sm-2">{{sent}}</td>
          <td class="visited value col-sm-2">{{visited}}</td>
          <td class="conversion value col-sm-1">{{percentage conversion}}</td> -->
        </tr>
        <tr class="row campaign-summary chart-row" data-id="{{_id}}">
          <td class="chart-area" colspan="4">
            <div class="row">
              <div class="desc value col-sm-6">{{desc}}</div>
            </div>
            <div class="row">
              <div class="desc value col-sm-5">
                <div class="campaign-summary-chart">
                  <div class="charting-area"></div>
                </div>
              </div>
              <div class="desc value col-sm-7">
                {{! compare with locationMetric t1 t2 }}
                {{!with locationMetrics startTime offset}}
                  {{! Change`data-entity` if helper changes }}
                  <div class="campaign-comparsion-chart">
                    <div class="charting-area total-visits col-xs-4" data-entity="totalVisits"></div>
                    <div class="charting-area dwell-time col-xs-4" data-entity="avgDwellTime"></div>
                    <div class="charting-area repeated-visits col-xs-4" data-entity="repeatedVisits"></div>
                  </div>
                {{!with}}
              </div>
            </div>
          </td>
        </tr>
        {{/with}}
      {{/each}}
      </tbody>
    </table>
  </div>
</template>


<template name="dashboard_modal">

  <div class="modal fade {{klass}}" id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-collectionName="{{collectioName}}" data-prefix="{{context}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{{action}}" method="POST">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="{{modalId}}-label">{{title}}</h4>
          </div>
          <div class="modal-body">
              {{#each fields}}
              <input class="form-input" name="{{name}}" placeholder="{{placeholder}}">
              {{/each}}
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <button type="submit" class="confirm-btn btn btn-primary">{{confirmText}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>