

<!-- Specific Template -->
<template name="dashboard_performance_chart">
  {{#Layout template="dashboard_widget" data=transform }}

    {{#contentFor region="dashboard-header"}}
      <h4 class="headline">Performance</h4>
      <div class="widget-nav pull-right performance-nav">
        <ul class="">
          <li><a href="#" data-session-target="view-building"><i class="fa fa-building-o"></i></a></li>
          <li class="active"><a href="#" data-session-target="view-chart"><i class="fa fa-line-chart"></i></a></li>
          <li><a href="#" data-session-target="view-grid"><span class="glyphicon glyphicon-th-large"></span></a></li>
        </ul>
      </div>
    {{/contentFor}}

    {{#contentFor region="dashboard-content" data=this.data}}
      <div class="chart-wrapper">
        {{! context : this.data = performances }}
        {{#if showChart}}
          {{> dashboard_performance_charting}}
        {{/if}}

        {{#if showGrid}}
          {{> dashboard_performance_matrix}}
        {{/if}}

        {{#if showFloor}}
          {{> dashboard_performance_floor}}
        {{/if}}
      </div>
    {{/contentFor}}
  {{/Layout}}
</template>

<template name="dashboard_performance_charting">
  <div class="performance charting"></div>
</template>

<template name="dashboard_performance_matrix">
  <div class="performance matrix">
    Coming Soon...
  </div>
</template>

<template name="dashboard_performance_floor">
  <div class="performance floor">
    {{#with data=datum settings=settings}}
    {{log this}}
    <div class="row">
      <div class="performance-table-wrapper col-sm-5 ">
        <table class="table performance-table stat-table">
          <thead>
            <tr>
              {{#each settings.fields}}
              <th>{{this}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each data}}
            <tr class="legend" data-id="{{_id}}">
              <td colspan="{{size settings.fields}}">{{obtain this settings.key}}</td>
            </tr>
            <tr class="entry" data-id="{{_id}}">
             {{#each settings.fields}}
              <td>{{obtain .. this}}</td>
             {{/each}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="col-sm-7">
        <div class="floor maplet" data-floor=""></div>
      </div>
    </div>
    {{/with}}
  </div>
</template>

<template name="dashboard_home">
  <div class="dashboard">
  {{#with locationMetric}}
    {{> dashboard_summary first=totalVisits second=avgDwellTime third=repeatedVisits }}
  {{/with}}
  {{#with performances }}
    {{> dashboard_performance_chart }}
  {{/with}}
  {{> dashboard_campaign_list campaigns=campaigns }}
  </div>
</template>




