<template name="dashboard_widget">
  <div class="widget-panel">
    <header class="heading">{{>yield region="dashboard-header"}}</header>
    <div class="content">
      {{!kick the extra content}}
      {{>yield}}
      {{>yield region="dashboard-content"}}
    </div>
  </div>
</template>

<template name="dashboard_card">
  <div class="card-panel">
    <header>{{!header}}</header>
    <div class="content">
      <div class="row">
        <div class="number col-sm-8">{{number}}</div>
        <div class="diff col-sm-4">{{diff}}</div>
      </div>
      <div class="row">
        <div class="field heading col-sm-8">{{field}}</div>
        <div class="duration col-sm-4">{{duration}}</div>
      </div>
    </div>
  </div>
</template>

<!-- Specific Template -->
<template name="dashboard_performance_chart">
  {{#Layout template="dashboard_widget"}}

    {{#contentFor region="dashboard-header"}}
      <h4>Performance</h4>
    {{/contentFor}}

    {{#contentFor region="dashboard-content"}}
      <div class="charting">:D</div>
    {{/contentFor}}
  {{/Layout}}
</template>

<template name="dashboard_campaign_list">
  <div class="campaign-list widget-panel">
    <table class="table">
      <thead class="heading">
        <tr class="row" >
          <th class="col-sm-7">Campaign</th>
          <th class="col-sm-2">Sent</th>
          <th class="col-sm-2">Visited</th>
          <th class="col-sm-1">Conversion</th>
        </tr>
      </thead>

      <tbody class="content">
      {{#each campaigns}}
        <tr class="row campaign-summary data-row" data-id="{{_id}}">
          <td class="name entity col-sm-7">{{name}}</td>
          <td class="sent value col-sm-2">{{sent}}</td>
          <td class="visited value col-sm-2">{{visited}}</td>
          <td class="conversion value col-sm-1">{{percentage conversion}}</td>
        </tr>
        <tr class="row campaign-summary chart-row" data-id="{{id}}">
          <td class="chart-area" colspan="4">
            <div class="row">
              <div class="desc value col-sm-6">{{desc}}</div>
            </div>
            <div class="row">
              <div class="desc value col-sm-6">{{>dashboard_campaign_summary_chart getStat}}</div>
              <div class="desc value col-sm-6">{{! dashboard_campaign_diff_chart}}</div>
            </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="dashboard_campaign_summary_chart">
  <div class="campaign-summary-chart" data-id="{{_id}}" data-header="{{name}}"></div>
</template>

<template name="dashboard_home">
  <div class="dashboard">
    <div class="summary highlights row">
      <div class="col-sm-4">
        {{> dashboard_card totalVisits}}
      </div>
      <div class="col-sm-4">
        {{> dashboard_card avgDwellTime}}
      </div>
      <div class="col-sm-4">
        {{> dashboard_card repeatedVisits}}
      </div>
    </div>
  </div>
  {{> dashboard_performance_chart }}


  <div class="" id="example"></div>

  {{> dashboard_campaign_list campaigns=campaigns }}
</template>




