<template name="dashboard_segment_manage">
{{log counts}}
{{> dashboard_collection_manage context="segments" count=counts listItems=segments modalContent=modal }}
</template>

<template name="dashboard_segment_create">
{{#Layout template="collection_manage" data=transform }}
{{log this}} {{log ..}}
  {{#contentFor region="view-header"}}
    <div class="col-sm-9"><h3>Creating: {{newItemName}}</h3></div>
    <div class="col-sm-3"><div class="actions pull-right"><button class="create-btn action-btn btn btn-primary">Create {{context}}</button></div></div>
  {{/contentFor}}
  <section>
  <form class="form-inline" role="form">
  {{#with criteriaInputs companyId}}
  Includes anyone who have {{> _field hasBeen }} to {{> _field to }} of these {{> _field triggerLocations }}:

  for {{> _field times }} times and stayed for {{> _field durantionInMinutes }} minutes

  in {{> _field days }} days every {{>_field every }} only
  {{/with}}
  </form>
  </section>
{{/Layout}}
</template>

<template name="_field">
{{#if isDefault}}
<span class="form-label">{{this.field}}</span>
{{/if}}

{{#if isList }}
<select class="select-picker span2">
  {{#each decompose}}
  <option value="{{val}}">{{key}}</option>
  {{/each}}
</select>
{{/if}}


{{#if equals this.type "filterInput" }}
<span class="filter-group filter-input" data-key="{{field}}">
  <select class="select-picker span2" data-key="{{field}}">
  {{#each filters}}
    <option value="{{this.key}}" data-filter-toggle="{{this.key}}" selected={{isSelected}}>{{this.label}}</option>
  {{/each}}
  </select>
  {{#each filters}}
      {{#if equals this.style "Number"}}
      <input type="text" value="" class="filter-input-group input-md form-control" placeholder="{{this.placeholder}}" size="2" data-filter="{{this.key}}"  data-key="{{../field}}">
      {{/if}}

      {{#if equals this.style "DatetimeRange"}}
      <span class="input-daterange filter-input-group input-group" id="datepicker-{{this.key}}"  data-filter="{{this.key}}" data-key="{{../field}}">
          <input type="text" class="input-md form-control" name="{{this.field.start}}" data-key="{{../field}}" />
          <span class="input-group-addon"> - </span>
          <input type="text" class="input-md form-control" name="{{this.field.end}}" data-key="{{../field}}" />
      </span>
      {{/if}}
  {{/each}}
</span>
{{/if}}
</template>