<template name="show">
{{> yield region="view-header"}}
<table class="table table-striped">
  {{#if cursor}}
    {{#each cursor}}
  <thead>
    <tr>

      {{#if ../fields }}
        {{#each ../fields }}
          <th>{{this}}</th>
        {{/each}}
      {{else}}
        <th>_id</th>
      {{/if}}
    </tr>
  </thead>
    {{/each}}
  {{/if}}



  {{#if cursor}}
    {{#each cursor}}
  <tbody>
    <tr>

      {{#if ../fields }}
        {{#each ../fields }}
          <td>{{get obj=.. prop=this}}</td>
        {{/each}}
      {{else}}
        <td>{{_id}}</td>
      {{/if}}
    </tr>
  </tbody>
    {{/each}}
  {{/if}}
</table>
{{> yield region="view-footer"}}
</template>