<template name="beacons_map">
    <div class="beacon-map map">
    {{#each this.beacons }}
      {{! beacon = installation in context }}
      {{> beacons_map_marker beacon=this coord=getCoord }}
    {{/each}}
    </div>
</template>

<template name="beacons_map_marker">
    <div class="beacon-marker" style="top: {{coord.y}}px; left: {{coord.x}}px" data-beacon-id="{{beacon.beaconId}}" id="insta-{{beacon._id}}">
      <div class="pulse-wrapper">
        <div class="pulse"></div>
        {{#each events}}
          <div class="pulse queued" data-event-id="{{_id}}">
            <div class="ring" ></div>
          </div>
        {{/each}}
      </div>
      <div class="beacon-label">{{beacon.type}}</div>
    </div>
</template>
