<template name="product">
    <div class="col-sm-4 product-line">
        <h4>{{name}}</h4>
        <div class="number-box">
            <span class="number">5,730</span>
            <span class="unit">total visits</span>
        </div>
        <div class="number-box-division">
            <span class="fiction">20.95%</span>
        </div>
        <div class="number-box">
            <span class="number">1,201</span>
            <span class="unit">visits to kids</span>
        </div>
        <div class="number-box-division">
            <span class="fiction">24.98%</span>
        </div>
        <div class="number-box">
            <span class="number">300</span>
            <span class="unit">checked out</span>
        </div>

        <div class="number-box-division">
            <span class="fiction"></span>
        </div>
        <div class="number-box-conculsion">
            <span class="number">901</span>
            <span class="unit">missed</span>
        </div>
    </div>
</template>