<template name="product">
    <div class="col-sm-4 product-line">
        <h4>{{product.name}}</h4>

        <div class="number-box">
            <span class="number">{{totalVisit}}</span>
            <span class="unit">total visits</span>
        </div>
        <div class="number-box-division">
            <span class="fiction">{{fraction productVisit totalVisit}}</span>
        </div>
        <div class="number-box">
            <span class="number">{{productVisit}}</span>
            <span class="unit">visits</span>
        </div>
        <div class="number-box-division">
            <span class="fiction">{{fraction cashierVisit productVisit}}</span>
        </div>
        <div class="number-box">
            <span class="number">{{cashierVisit}}</span>
            <span class="unit">checked out</span>
        </div>

        <div class="number-box-division">
            <span class="fiction"></span>
        </div>
        <div class="number-box-conculsion">
            <span class="number">{{missedVisit}}</span>
            <span class="unit">missed</span>
        </div>

    </div>
</template>
